<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>HelpDesk AI</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="container">

    <header>

        <h1>🤖 HelpDesk AI</h1>

        <p>Your Personal AI Assistant</p>

    </header>

    <div id="chat-box">

        <div class="bot-message">

            👋 Hello!

            <br><br>

            I am HelpDesk AI.

            <br>

            How can I help you today?

        </div>

    </div>

    <div class="input-area">

        <input
            type="text"
            id="user-input"
            placeholder="Type your message..."
        >

        <button id="send-btn">

            Send

        </button>

    </div>

</div>

<script src="{{ url_for('static', filename='script.js') }}"></script>

</body>

</html>